@model DevelopmentClearance

<div class="card">

    ```
    <div class="card-header">
        <h4>Development Clearance</h4>
    </div>

    <div class="card-body">

        <form asp-action="DevelopmentReview" method="post">

            <input asp-for="ExitClearanceId" type="hidden" />

            <table class="table table-bordered">

                <thead class="table-light">
                    <tr>
                        <th style="width:45%">
                            Development (Systems Admin)
                        </th>

                        <th style="width:20%">
                            Asset / Serial Number
                        </th>

                        <th style="width:20%">
                            Received By (Sign)
                        </th>

                        <th style="width:15%">
                            Date
                        </th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>
                            Delete Bitbucket administration credentials
                        </td>

                        <td>
                            <input asp-for="BitbucketAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="BitbucketReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="BitbucketDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Delete Project Management Credentials
                        </td>

                        <td>
                            <input asp-for="ProjectManagementAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="ProjectManagementReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="ProjectManagementDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Delete Manage Engine Credentials
                        </td>

                        <td>
                            <input asp-for="ManageEngineAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="ManageEngineReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="ManageEngineDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                </tbody>

            </table>

            <div class="mb-3">

                <label class="form-label">
                    Comments
                </label>

                <textarea asp-for="Comments"
                          rows="4"
                          class="form-control">
            </textarea>

            </div>

            <button type="submit"
                    class="btn btn-success">
                Approve & Forward
            </button>

        </form>

    </div>
    ```

</div>
