@model SystemsAdminClearance

<div class="card">

    ```
    <div class="card-header">
        <h4>Systems Administration Clearance</h4>
    </div>

    <div class="card-body">

        <form asp-action="SystemsAdminReview" method="post">

            <input asp-for="ExitClearanceId" type="hidden" />

            <table class="table table-bordered">

                <thead class="table-light">
                    <tr>
                        <th style="width:35%">
                            Systems Administration Item
                        </th>

                        <th style="width:25%">
                            Asset / Serial Number
                        </th>

                        <th style="width:20%">
                            Received By (Sign)
                        </th>

                        <th style="width:20%">
                            Date
                        </th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td>Laptop</td>

                        <td>
                            <input asp-for="LaptopAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="LaptopReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="LaptopDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>Laptop Bags</td>

                        <td>
                            <input asp-for="LaptopBagAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="LaptopBagReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="LaptopBagDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>Accessories (if any)</td>

                        <td>
                            <input asp-for="AccessoriesAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="AccessoriesReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="AccessoriesDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>Laptop Locker (if any)</td>

                        <td>
                            <input asp-for="LockerAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="LockerReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="LockerDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>Endpoint Security</td>

                        <td>
                            <input asp-for="EndpointSecurityAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="EndpointSecurityReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="EndpointSecurityDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>Login Credentials For Sophos</td>

                        <td>
                            <input asp-for="SophosAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="SophosReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="SophosDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Confirm deletion of employee from systems access and passwords
                        </td>

                        <td>
                            <input asp-for="AccessRemovalAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="AccessRemovalReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="AccessRemovalDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Confirm deletion / suspension of email address and redirection to supervisor
                        </td>

                        <td>
                            <input asp-for="EmailAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="EmailReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="EmailDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Confirm deletion of employee from all social media groups
                        </td>

                        <td>
                            <input asp-for="SocialMediaAsset"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="SocialMediaReceivedBy"
                                   class="form-control" />
                        </td>

                        <td>
                            <input asp-for="SocialMediaDate"
                                   type="date"
                                   class="form-control" />
                        </td>
                    </tr>

                </tbody>

            </table>

            <div class="mb-3">

                <label class="form-label">
                    Comments
                </label>

                <textarea asp-for="Comments"
                          class="form-control"
                          rows="4"></textarea>

            </div>

            <button type="submit"
                    class="btn btn-success">
                Approve & Forward
            </button>

        </form>

    </div>
    ```

</div>
