**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
.git/
.github/
.gitignore
**/*.user
**/appsettings.Development.json
**/logs/
logs/
employee-documents/
employee-files/
Dockerfile
.dockerignore
README.md
