<h2>Set Your Password</h2>

<form method="post">
    <input type="hidden" name="token" value="@Context.Request.Query["token"]" />

    <div>
        <label>Password</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <br />

    <button type="submit" class="btn btn-success">
        Set Password
    </button>
</form>