@model IT_Service_Management_System.Models.UserAccessRight

@{
    ViewData["Title"] = "Edit User Access Rights";
}

<div class="container-fluid mt-3">

    <form asp-action="Edit" method="post">

        <input asp-for="Id" type="hidden" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="card shadow">

            <div class="card-header bg-warning">

                <div class="d-flex justify-content-between align-items-center">

                    <h4 class="mb-0">
                        <i class="fas fa-user-edit"></i>
                        Edit User Access Rights
                    </h4>

                    <a asp-action="Index"
                       class="btn btn-dark">

                        <i class="fas fa-arrow-left"></i>

                        Back

                    </a>

                </div>

            </div>

            <div class="card-body">

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label asp-for="SolutionSoftware"></label>
                        <input asp-for="SolutionSoftware" class="form-control" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="ProductionServerId"></label>
                        <input asp-for="ProductionServerId" class="form-control" />
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 mb-3">
                        <label asp-for="ClientName"></label>
                        <input asp-for="ClientName" class="form-control" />
                    </div>

                    <div class="col-md-4 mb-3">
                        <label asp-for="VersionReleaseNo"></label>
                        <input asp-for="VersionReleaseNo" class="form-control" />
                    </div>

                    <div class="col-md-4 mb-3">
                        <label asp-for="SystemsAdmin"></label>
                        <input asp-for="SystemsAdmin" class="form-control" />
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4 mb-4">
                        <label asp-for="Date"></label>
                        <input asp-for="Date"
                               type="date"
                               class="form-control" />
                    </div>

                </div>

                <hr />

                <h5 class="mb-3">
                    <i class="fas fa-users"></i>
                    User Access Rights
                </h5>

                <div class="table-responsive">

                    <table class="table table-bordered table-striped" id="usersTable">

                        <thead class="table-dark">

                            <tr>

                                <th style="width:250px;">User</th>

                                <th class="text-center">User Management</th>

                                <th class="text-center">Initiate</th>

                                <th class="text-center">Confirmation</th>

                                <th class="text-center">Approval</th>

                                <th class="text-center">Account Management</th>

                                <th class="text-center">Reports</th>

                                <th style="width:70px;"></th>

                            </tr>

                        </thead>

                        <tbody id="userRows">

                            @for (int i = 0; i < Model.Users.Count; i++)
                            {
                                <tr>

                                    <td>

                                        <input asp-for="Users[i].Id" type="hidden" />

                                        <input asp-for="Users[i].UserName"
                                               class="form-control" />

                                    </td>

                                    <td class="text-center">

                                        <input asp-for="Users[i].UserManagement"
                                               class="form-check-input" />

                                    </td>

                                    <td class="text-center">

                                        <input asp-for="Users[i].Initiate"
                                               class="form-check-input" />

                                    </td>

                                    <td class="text-center">

                                        <input asp-for="Users[i].Confirmation"
                                               class="form-check-input" />

                                    </td>

                                    <td class="text-center">

                                        <input asp-for="Users[i].Approval"
                                               class="form-check-input" />

                                    </td>

                                    <td class="text-center">

                                        <input asp-for="Users[i].AccountManagement"
                                               class="form-check-input" />

                                    </td>

                                    <td class="text-center">

                                        <input asp-for="Users[i].Reports"
                                               class="form-check-input" />

                                    </td>

                                    <td class="text-center">

                                        <button type="button"
                                                class="btn btn-danger btn-sm removeRow">

                                            <i class="fas fa-times"></i>

                                        </button>

                                    </td>

                                </tr>
                            }

                        </tbody>

                    </table>

                </div>

                <button type="button"
                        class="btn btn-success"
                        id="addRow">

                    <i class="fas fa-plus-circle"></i>

                    Add User

                </button>

                <hr />

                <div class="row">

                    <div class="col-md-4">

                        <div class="card">

                            <div class="card-header bg-primary text-white">
                                Assigned
                            </div>

                            <div class="card-body">

                                <div class="mb-2">

                                    <label>Name</label>

                                    <input asp-for="AssignedBy"
                                           class="form-control" />

                                </div>

                                <div class="mb-2">

                                    <label>Signature</label>

                                    <input asp-for="AssignedSignature"
                                           class="form-control" />

                                </div>

                                <div>

                                    <label>Date</label>

                                    <input asp-for="AssignedDate"
                                           type="date"
                                           class="form-control" />

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="card">

                            <div class="card-header bg-warning">
                                Reviewed
                            </div>

                            <div class="card-body">

                                <div class="mb-2">

                                    <label>Name</label>

                                    <input asp-for="ReviewedBy"
                                           class="form-control" />

                                </div>

                                <div class="mb-2">

                                    <label>Signature</label>

                                    <input asp-for="ReviewedSignature"
                                           class="form-control" />

                                </div>

                                <div>

                                    <label>Date</label>

                                    <input asp-for="ReviewedDate"
                                           type="date"
                                           class="form-control" />

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="card">

                            <div class="card-header bg-success text-white">
                                Approved
                            </div>

                            <div class="card-body">

                                <div class="mb-2">

                                    <label>Name</label>

                                    <input asp-for="ApprovedBy"
                                           class="form-control" />

                                </div>

                                <div class="mb-2">

                                    <label>Signature</label>

                                    <input asp-for="ApprovedSignature"
                                           class="form-control" />

                                </div>

                                <div>

                                    <label>Date</label>

                                    <input asp-for="ApprovedDate"
                                           type="date"
                                           class="form-control" />

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="card-footer text-end">

                <a asp-action="Index"
                   class="btn btn-secondary">

                    Cancel

                </a>

                <button class="btn btn-warning">

                    <i class="fas fa-save"></i>

                    Update Access Rights

                </button>

            </div>

        </div>

    </form>

</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <script>

                // Add new row
                $("#addRow").click(function () {

                    var index = $("#userRows tr").length;

                    var row = `
        <tr>

        <td>

        <input type="hidden"
               name="Users[${index}].Id"
               value="0"/>

        <input class="form-control"
               name="Users[${index}].UserName"/>

        </td>

        <td class="text-center">
        <input class="form-check-input"
               type="checkbox"
               name="Users[${index}].UserManagement"
               value="true"/>

        <input type="hidden"
               name="Users[${index}].UserManagement"
               value="false"/>
        </td>

        <td class="text-center">
        <input class="form-check-input"
               type="checkbox"
               name="Users[${index}].Initiate"
               value="true"/>

        <input type="hidden"
               name="Users[${index}].Initiate"
               value="false"/>
        </td>

        <td class="text-center">
        <input class="form-check-input"
               type="checkbox"
               name="Users[${index}].Confirmation"
               value="true"/>

        <input type="hidden"
               name="Users[${index}].Confirmation"
               value="false"/>
        </td>

        <td class="text-center">
        <input class="form-check-input"
               type="checkbox"
               name="Users[${index}].Approval"
               value="true"/>

        <input type="hidden"
               name="Users[${index}].Approval"
               value="false"/>
        </td>

        <td class="text-center">
        <input class="form-check-input"
               type="checkbox"
               name="Users[${index}].AccountManagement"
               value="true"/>

        <input type="hidden"
               name="Users[${index}].AccountManagement"
               value="false"/>
        </td>

        <td class="text-center">
        <input class="form-check-input"
               type="checkbox"
               name="Users[${index}].Reports"
               value="true"/>

        <input type="hidden"
               name="Users[${index}].Reports"
               value="false"/>
        </td>

        <td class="text-center">

        <button type="button"
                class="btn btn-danger btn-sm removeRow">

        <i class="fas fa-times"></i>

        </button>

        </td>

        </tr>
        `;

                    $("#userRows").append(row);

                });

                // Remove row
                $(document).on("click", ".removeRow", function () {

                    $(this).closest("tr").remove();

                    renumberRows();

                });

                // Renumber all inputs
                function renumberRows() {

                    $("#userRows tr").each(function (i) {

                        $(this).find("input").each(function () {

                            var name = $(this).attr("name");

                            if (!name)
                                return;

                            name = name.replace(/Users\[\d+\]/, "Users[" + i + "]");

                            $(this).attr("name", name);

                        });

                    });

                }

    </script>

}